@using CmsData
@using CmsWeb
@model CmsWeb.Areas.Coordinator.Models.SubgroupModel
@using System.Linq
@using UtilityExtensions
@Html.Hidden("OrgId", Model.orgid)

<div class="form-group" style="width: 90%; margin-left: 40px; margin-right: 40px">
    <p align="center">
        <label for="groupidDD" class="control-label">Target Group</label>
        <input type="hidden" name="groupid" id="groupid" value="@Model.groupid" />
        @Html.DropDownList("groupidDD", Model.CheckInGroups(), new { @class = "form-control" })
    </p>
    <br/>
    <br/>
    <div id="SubgroupDataContainer">
    </div>
</div>

    <script type="text/javascript">
        $(function () {
            $('#groupidDD').focus();

            $('#groupidDD').change(function (e) {
                e.preventDefault();
                $("#SubgroupDataContainer").load('/Coordinator/Coordinator/SubgroupDataView', { id: $('#OrgId').val(), grpid: $('#groupidDD').find(':selected').val(), sg: $('#groupidDD').find(':selected').text() });
            });

        });
    </script>

